/*banner*/
.carousel .item img { height: 768px;width: 100%;}
.slidenum { z-index: 15;position: absolute;height: 118px;width: 840px;bottom: 0;}
.slidenum ol { height: 75px;width: 650px;background: #424031;position: relative;left: 400px;}
.slidenum ol li{position: absolute;margin-top: 34px;height: 4px;width: 133px;background: #fff;display:none;z-index: 20;border-radius: 0;}
.slidenum ol li:nth-child(1){left: 130px;}
.slidenum ol li:nth-child(2){left: 263px;}
.slidenum ol li:nth-child(3){left: 396px;}
.slidenum ol .active { height: 4px;width: 135px;position: absolute;margin-top: 34px;display: block;}
.slidenum .slide_line { height: 2px;width: 402px;margin: 35px 0 0 130px;background: #8c8c8c;position: absolute;}
.slidenum span { position: absolute;z-index: 20;color: #fff;font-size: 14px;}
.fp { right: 80px;top:30px;}
.lp { left: 80px;top:30px;}
.carousel-caption { width: 1200px;text-align: left;text-shadow: none;}
.carousel button { width: 135px;height: 30px;cursor: pointer;font-size: 14px;}
.detail01 button{ background: #fff;color:#6c6656;margin-top:40px;}
.detail02 { position: absolute;left: 890px;top:420px;}
.detail02 button{ background:#2c2925;color: #fff; }
.detail03 { position: absolute;bottom:45px;right: 90px;}
.carousel .detail03 button{ background: #6b5b56;text-align: center;color: #fff;}
.banner03 { color: #fff;margin-left: 233px;}
.banner03 p { height: 18px;font-size: 56px;}
.carousel .item .banner03 img { height: 103px;width: 320px;}
.banner03 h3 { height: 90px;font-size: 64px;line-height: 80px;font-weight: bolder;}
.banner03 span{ font-family:微软雅黑;font-size: 14px;display: block;margin-bottom: 40px;}
.banner01 h3 { letter-spacing: 78px;font-size: 34px;color: #000;text-indent: 78px;}
.banner01 p { font-family:微软雅黑;font-size: 14px;color: #666;width: 500px;margin: 40px auto 140px;line-height: 24px;}
.banner01 { text-align: center;}
.banner01 span{ font-family:微软雅黑;font-size: 14px;color: #4f423a;position: absolute;bottom:90px;right: 190px;}
.banner02 p{ width: 256px;line-height: 22px;font-size: 14px;color: #666;margin: 30px 0 0 122px;text-align: left;}
.banner02 h2:first-child{ text-indent: 40px;}
.banner02 h2{ line-height: 96px;font-size: 80px;color: #000;font-weight: bolder; font-family:微软雅黑;}
.banner02 .text{width: 430px;height: 333px;float: right;text-align: center}
.banner02 span{ font-family:微软雅黑;font-size: 14px;color: #000;margin-top:50px;display: block;text-align: left;text-indent: 123px;}
/*新品首发*/
.newproduct .row { width: 1000px;margin: 85px auto 0;}
.newproduct .thumbnail { background: #f5f5f5;padding: 0;border: none;border-radius: 5px;width: 236px;}
.newproduct .thumbnail:hover { box-shadow: 5px 5px 10px #f9f9f9;}
.newproduct .thumbnail .newtit { display:table-cell;height: 332px;text-align: center;width: 236px;vertical-align: middle;}
.newproduct .thumbnail .caption{ height: 88px;background: #fff;}
.newproduct .thumbnail .caption h3{ line-height: 45px;font-size: 20px;font-weight: 600;}
.newproduct .thumbnail .caption p{ line-height: 28px;font-size: 22px;color: #bcbcbc;}
.photo { position: relative;height: 341px;}
.text-box { display:none;width:674px;height: 210px;background: #f5f5f5;position: absolute;right: 0;top:130px;padding: 60px 0 0 73px;}
.text-box h3 { font-size: 20px;letter-spacing: 5px;font-weight: bolder;line-height: 40px;}
.text-box h3 span{  position: relative; }
.text-box h3 span:nth-child(1){  -webkit-animation:jump 1s linear 0s infinite alternate; }
.text-box h3 span:nth-child(2){  -webkit-animation:jump 1s linear 0.2s infinite alternate; }
.text-box h3 span:nth-child(3){  -webkit-animation:jump 1s linear 0.4s infinite alternate; }
.text-box h3 span:nth-child(4){  -webkit-animation:jump 1s linear 0.6s infinite alternate; }
.text-box p{ font-size: 12px;color: #666;line-height: 22px;}
.title { border-left: 2px solid #ccc;padding:0 180px 0 24px;}
.product-image .pic-2 { left: 100%;margin-left: auto;margin-right: auto;}
.leftpic { width: 0;overflow: hidden}
.border { position: absolute;}
/*公司新闻*/
.companynews { width: 1000px;border-bottom: 2px solid #ccc;}
.comnews { overflow: hidden;}
.news { width: 240px;float: left;margin: 40px 46px 0;}
.news span{ font-size: 18px;color: #a0a0a0;}
.news h3{ line-height: 60px;font-size: 16px;font-weight: bolder;}
.news p{ line-height: 22px;color:#666;}
.mr_0 { margin-right: 0;}
.newmore { width: 25px;height: 25px;background: url("../img/more.png") no-repeat;margin:25px auto 36px;}
